<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<div class="container page-header">
	<div id="countdown">
		Nog 
		<span id="count-day">55</span>
		dagen
	</div>	
	<div class="page-header-title">
		En dan gaat het beginnen <br>
		<small>Nog niet opgegeven?</small>
	</div>	<br>
	<%= link_to "Klik hier", "http://www.nhl.nl/nhl/10845/over-de-nhl/100-jaar-hts/aanmelden.html", :target => '_blank', class:'btn' %>	
	<div class="read-more-link">
		Lees meer <br>
		<%= fa_icon 'caret-down 2x' %>
	</div>
</div>

<div class="header-container">
	<nav class="header">
		<ul>
			<li class="menu-item">
				<a href="#about">Over 100 jaar hts</a>
			</li>
			<li class="menu-item">
				<a href="#speakers">Speakers</a>
			</li>
			<li class="menu-item">
				<a href="#schedule">Schema</a>
			</li>
			<li class="menu-item">
				<a href="#route">Route</a>
			</li>
			<li class="menu-item">
				<a href="#contact">Contact</a>
			</li>
		</ul>
	</nav>
</div>
<div class="container" id="about">

	<div id="introduction" class="coll">

		<h1>Over 100 jaar HTS</h1>
		<h3 class="center">Zaterdag 14 maart 2015, Leeuwarden</h3>
		<p class="lead">De HTS Leeuwarden bestaat 100 jaar. Op zaterdag 14 maart 2015 organiseren we een reünie, met daaromheen een boeiend 				programma, ingenieurs waardig. Houd deze dag gereserveerd in uw agenda!
		</p>
	</div>

	<div id="icons">
		<div class="icon coll tap-4">
			<img class="icon-image" src="http://www.fi-ppp.eu/wp-content/uploads/2013/06/twitter-round.png">
			<div class="icon-text">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras auctor eros id sollicitudin commodo.
			</div>
		</div>

		<div class="icon coll tap-4">
			<img class="icon-image" src="http://www.fi-ppp.eu/wp-content/uploads/2013/06/twitter-round.png">
			<div class="icon-text">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras auctor eros id sollicitudin commodo.
			</div>
		</div>

		<div class="icon coll tap-4">
			<img class="icon-image" src="http://www.fi-ppp.eu/wp-content/uploads/2013/06/twitter-round.png">
			<div class="icon-text">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras auctor eros id sollicitudin commodo.
			</div>
		</div>
	</div>
</div>



<div class="speaker-background">
	<div class="container container-speaker" id="speakers">
		<div class="content-photo coll">
			<div class= "coll tap-3 tal-2 content-photo-image">
				<img src="http://blog.openspending.org/files/2012/03/andrea_S_checkmark_on_circle_1.png">
			</div>
			<div class="content-photo-text coll tap-9 tal-10">
				<h3 class="white">Spreker 1</h3>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras auctor eros id sollicitudin commodo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras finibus felis elit, vitae scelerisque tellus semper ut. Etiam quis dolor at dolor feugiat feugiat. Pellentesque dui tortor, commodo vel ante ut, aliquet consequat tortor. Sed vel tristique lectus, in semper enim. Etiam eu feugiat arcu. Aenean pellentesque ante turpis, at fermentum arcu commodo vel. Phasellus ac faucibus ex. Aenean posuere, neque eu vulputate placerat, nunc metus tincidunt arcu, ac sagittis mi nulla a mauris. 
			</div>
		</div>
	</div>
</div>
<div class="speaker-background">
	<div class="container container-speaker">
		<div class="content-photo coll">
			<div class="content-photo-text coll tap-9 tal-10">
				<h3 class="white">Spreker 2</h3>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras auctor eros id sollicitudin commodo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras finibus felis elit, vitae scelerisque tellus semper ut. Etiam quis dolor at dolor feugiat feugiat. Pellentesque dui tortor, commodo vel ante ut, aliquet consequat tortor. Sed vel tristique lectus, in semper enim. Etiam eu feugiat arcu. Aenean pellentesque ante turpis, at fermentum arcu commodo vel. Phasellus ac faucibus ex. Aenean posuere, neque eu vulputate placerat, nunc metus tincidunt arcu, ac sagittis mi nulla a mauris. 
			</div>
			<div class= "coll tap-3 tal-2 content-photo-image">
				<img src="http://blog.openspending.org/files/2012/03/andrea_S_checkmark_on_circle_1.png">
			</div>
		</div>
	</div>
</div>
<div class="speaker-background">
	<div class="container container-speaker">
		<div class="content-photo coll">
			<div class= "coll tap-3 tal-2 content-photo-image">
				<img src="http://blog.openspending.org/files/2012/03/andrea_S_checkmark_on_circle_1.png">
			</div>
			<div class="content-photo-text coll tap-9 tal-10">
				<h3 class="white">Spreker 3</h3>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras auctor eros id sollicitudin commodo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras finibus felis elit, vitae scelerisque tellus semper ut. Etiam quis dolor at dolor feugiat feugiat. Pellentesque dui tortor, commodo vel ante ut, aliquet consequat tortor. Sed vel tristique lectus, in semper enim. Etiam eu feugiat arcu. Aenean pellentesque ante turpis, at fermentum arcu commodo vel. Phasellus ac faucibus ex. Aenean posuere, neque eu vulputate placerat, nunc metus tincidunt arcu, ac sagittis mi nulla a mauris. 
			</div>
		</div>
	</div>
</div>




<div class="container container-gray" id="stats">
	<div class="coll">
		<h2>Statestieken</h2>
		<div class="coll coll-chart">
			<div class="coll tal-8">
				<div class="chart-image">
					<%= column_chart @year, library:{backgroundColor:"transparent", title:"Ingeschreven jaargangen"}%>
				</div>
			</div>
			<div class="coll tal-4 tal-show">
				<h3>Jaargangen</h3>
				<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. </p>
			</div>
		</div>
		<div class="coll coll-chart">
			<div class="coll tal-4 tal-show">
				<h3>Opleidingen</h3>
				<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. </p>
			</div>
			<div class="coll tal-8">
				<div class="chart-image">
					<%= pie_chart @major, library:{backgroundColor:"transparent", title:"Ingeschreven opledingen"}%>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container" id="schedule">
	<h2>
		Schema <br>
		<small>Zeterdag 14 maart</small>
	</h2>
	<div class="schedule-box">
		<div class="coll tap-2 schedule-time">9:00 - 10:00</div>
		<div class="coll tap-8"><h3> Lorum ipsum Lorum ipsum</h3></div>
		<div class="coll tap-2 schedule-icon"><%=fa_icon "comments 3x" %></div>
	</div>
	<div class="schedule-box">
		<div class="coll tap-2 schedule-time">10:00 - 11:00</div>
		<div class="coll tap-8">
			<h3> Lorum ipsum Lorum ipsum</h3>
			<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit</p>
		</div>
		<div class="coll tap-2 schedule-icon"><%=fa_icon "microphone 3x" %></div>
	</div>
</div>

<div class="location-background">
	<div class="container container-location" id="location">
		<div class="coll">
			<h2 class="white">Route</h2>
			<p class="lead">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.</p>
			<h4>Routebeschrijving</h4>
			<div class="coll tap-6 location-content">
				<div class="location-icon"></div>
				<p><b>Auto</b></p>
				<p>Vanuit het noorden: Ring West afslag S104 (Haarlem). Centrum aanhouden. Rechtsaf bij Haarlemmerweg. Vanuit het zuiden: Ring West afslag S103 (Haarlem, Halfweg) via de Haarlemmerweg richting Amsterdam Centrum volgen. Na 1,5 km ziet u aan uw linkerhand de Westergasfabriek.</p>
			</div>
			<div class="coll tap-6 location-content">
				<div class="location-icon"></div>
				<p><b>Trein</b></p>
				<p>Vanaf Centraal Station: Bus 21, halte Van Hallstraat. Vanuit het Centrum: Tramlijn 10, halte Limburg van Stirumplein. NB: De Westergasfabriek is een kleine 10 minuten lopen vanaf het Haarlemmerplein.</p>
			</div>			
		</div>	
		<div class="coll">
			<h4 class="white">Parkeren</h4>
			<div class="coll tap-6 location-content">Parkeren 1</div>
			<div class="coll tap-6 location-content">parkeren 2</div>
		</div>	
	</div>
</div>
	<iframe class="iframe-map" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=NHL%20Hogeschool%2C%20Rengerslaan%2C%20Leeuwarden%2C%20Nederland&key=AIzaSyDLQ79UhcMZR6U7fldJ5HM9treu-9dWWjE"></iframe>

<div class="container">
	google map..
</div>

<div class="container">
	<div id="contact" class="coll">
	</div>
	<div id="contact-name" class="coll tap-4">
	</div>
	<div id="contact-mail" class="coll tap-4">
	</div>
	<div id="contact-subject" class="coll tap-4">
	</div>
	<div id="contact-message" class="coll">
	</div>
</div>
<%= javascript_include_tag "pages" %>
