<header id="top" class="header">

    <div class="text-vertical-center">
        <h1>100 Jaar HTS</h1>
        <h3>Vroeger en nu...</h3>
        <br>
        <%= link_to "Bekijk Fotoalbum", photoalbums_path, class: "btn btn-primary" %>
    </div>
</header>
<div class="container top50">
	<div class="jumbotron">
		<h1>Fotoalbums live!</h1>
		<p>
			De fotoalbums van de reünie staan nu live!
		</p>
		<%= link_to "Bekijk Fotoalbum", photoalbums_path, class: "btn btn-primary" %>
	</div>
</div>

<div class="container top50">

	<div class="row">
		<div class="col-sm-4 col-md-3">
		    <div class="thumbnail">
				<%= image_tag 'no-img.jpg' %>      
				<div class="caption">
			        <h3>Thumbnail label</h3>
			        <p>
			        	Some text goes here.
			        </p>
			        <p>
			        	<a href="#" class="btn btn-primary" role="button">Button</a> 
			        	<a href="#" class="btn btn-default" role="button">Button</a>
			        </p>
		    	</div>
			</div>
		</div>

		<div class="col-sm-4 col-md-3">
		    <div class="thumbnail">
				<%= image_tag 'no-img.jpg' %>      
				<div class="caption">
			        <h3>Thumbnail label</h3>
			        <p>
			        	Some text goes here.
			        </p>
			        <p>
			        	<a href="#" class="btn btn-primary" role="button">Button</a> 
			        	<a href="#" class="btn btn-default" role="button">Button</a>
			        </p>
		    	</div>
			</div>
		</div>

		<div class="col-sm-4 col-md-3">
		    <div class="thumbnail">
				<%= image_tag 'no-img.jpg' %>      
				<div class="caption">
			        <h3>Thumbnail label</h3>
			        <p>
			        	Some text goes here.
			        </p>
			        <p>
			        	<a href="#" class="btn btn-primary" role="button">Button</a> 
			        	<a href="#" class="btn btn-default" role="button">Button</a>
			        </p>
		    	</div>
			</div>
		</div>

		<div class="col-sm-4 col-md-3">
		    <div class="thumbnail">
				<%= image_tag 'no-img.jpg' %>      
				<div class="caption">
			        <h3>Thumbnail label</h3>
			        <p>
			        	Some text goes here.
			        </p>
			        <p>
			        	<a href="#" class="btn btn-primary" role="button">Button</a> 
			        	<a href="#" class="btn btn-default" role="button">Button</a>
			        </p>
		    	</div>
			</div>
		</div>
	</div>

</div>
<footer class="footer">
  <div class="container">
    <p class="text-muted">&copy; 100 Jaar HTS <%= Time.now.year %>. Deze website is ontwikkeld door CMD studenten van de NHL Hogeschool Leeuwarden.</p>
  </div>
</footer>